/* screen.css: Screen Styles */



body {
   margin: auto 8%; /** 143.5/1292=.111  **/
}

h1, h2, h3, h4 {
   font-family: "Josefin Sans", Arial, sans-serif;
   margin: 15px auto 0px auto;
}

#home-words h1 {
   padding: 10px 0px;
}

h3 {
   margin-top: 10px;
   font-size: 1.2em;
}

p, a {
   font-family: Muli /** "Open Sans Condensed" **/, Arial, sans-serif;
   margin: 8px auto;
}

a {
   text-decoration: none;
}

/***  Header   ***/

div#header {
   margin-bottom: 20px;
   background: yellow;
}

div#logo {
   float: left;
}

/***  Navigation  ***/

nav#main ul {
   float: left;
   margin: 20px auto;
}

nav#main ul li{
   display: inline;
   margin: 15px;
}

a.nav-home, a.nav-about, 
a.nav-work, a.nav-contact {
    width: 23%;     
    float: left;
    padding: 30px 45px 7px 15px; 
    margin: 0px;
    border-radius: 18px;
   /** -webkit-box-shadow: inset 6px -7px 7px -9px #000; 
    -moz-box-shadow: inset 6px -7px 7px -9px #000; 
    box-shadow: inset 3px -6px 7px -8px #000; **/
}

nav#main a {
   font-size: .9em;
    color: #E5E5E5; 
   font-weight: bold;
}

a.nav-home {
    /** background-color: #434157; **/
   border-bottom-left-radius: 8px;
   background:  #7AA496;
   
}
a.nav-about {
   border-bottom-left-radius: 8px;
   background-color: #8A7BA3;

}
a.nav-work {
   border-bottom-left-radius: 8px;
   background-color: #7B82A3;**/

}
a.nav-contact {
   border-bottom-right-radius: 8px;
   background-color: #A39C7B;  /**#C5D6A0**/

}



/***  Big Typography ***/

div#home-words, div#words {
   clear: both;
   display: block;
   width: 100%;
   margin: 13px auto;
}
div#home-words h1, div#words h1 {
   margin: 0 auto;
   text-align: center;
}



/*** Home Page ***/

div#content {
   border-left: 5px solid #7AA496;
   background: rgba(197, 214, 215, 0.5);
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
   width: 100%;
}
div#content h3 {
   color: #7AA496;
}

/*** Everything but Home Page Content ***/
div#left-container p, div#right-container h3,
div#right-container p, div#right-container h3 {
   line-height: 1.4em;
}

div.content {
   margin: auto 17px 30px 17px;
   padding: 10px;
}

div#home-about {
   float: left;
}

div#left-container {
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
   width: 100%;
   margin-bottom: 0px;
}

div.about {
   border-left: 5px solid #8A7BA3;
   background: rgba(201, 197, 214, 0.5);
}

div.about h3 {
   color: #8A7BA3;
}

div#right-container {
  /** border-top-left-radius: 8px;
   border-bottom-left-radius: 8px; **/
   border-radius: 8px;
   width: 100%;
   margin-top: 0px;
}

div.about-stats {
      background: #8A7BA3;
}

/***  Contact Form   ***/

fieldset {
   border: 0;
   margin: auto;
}

label { 
    float: left;
    clear: left;
    margin: 1em 2em 0em 0em;
    font-size: .9em;
    color: #363642;
    text-transform: uppercase;
}

input {
    width: 90%;
    max-width: 175px;
    height: 2.5em;
    border-radius: 5px;
    margin: .3em 3em 0em 0em;
    -webkit-box-shadow: inset 2px -7px 7px -7px #000; 
    -moz-box-shadow: inset 0px 7px 7px -7px #000; 
    box-shadow: inset 2px 5px 5px -7px #000;
}

textarea {
    width: 90%;
    max-width: 175px;
    height: 150px;
    border-radius: 8px;
    margin: .8em 2em 0em 0em;
    float: left;
    border: none;
    -webkit-box-shadow: inset 2px -7px 7px -7px #000; 
    -moz-box-shadow: inset 0px 7px 7px -7px #000; 
    box-shadow: inset 2px 5px 5px -7px #000;
}
   input[type=submit] {
    float: left;  
    clear: left;  
    width: 90%;
    height: 40px;
    margin-top: 1.5em;
    border-radius: 7px;
    -webkit-box-shadow: inset 2px -7px 7px -7px #000; 
    -moz-box-shadow: inset 0px 7px 7px -7px #000; 
    box-shadow: inset 2px 5px 5px -7px #000;
   background: #fff;
} 


/***  Footer   ***/

div#footer {
   margin: 15px auto;
   padding: 10px 20px;
   border-top: 5px solid #9B9B9B;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   background-color: #DDDDDD; 
   color: #fff;
  /* -webkit-box-shadow: inset 6px -7px 7px -9px #000; 
    -moz-box-shadow: inset 6px -7px 7px -9px #000; 
    box-shadow: inset 3px 6px 15px -4px #9B9B9B;  */
   width: 85%;
}

div#creative-commons {
   font-size: .7em;
}






