/* screen.css: Screen Styles */



body {
   margin: auto 6%; /** 143.5/1292=.111  **/
}

h1, h2, h3, h4, hr {
   font-family: "Josefin Sans", Arial, sans-serif;
   font-weight: bold;
}

h3 {
   font-size: 1.4em;
   margin: 15px auto 0px auto;
}

h4 {
   font-size: 1.2em;
   margin: 15px auto 0px auto;

}

h5 {
   font-size: 1em;
}

p, a, li, label {
   font-family: Muli /** "Open Sans Condensed" **/, Arial, sans-serif;
   margin: 8px auto;
   font-size: 1em;
}

small {
   font-family: Muli /** "Open Sans Condensed" **/, Arial, sans-serif;
   font-size: .8em;
   color: #8A7BA3;
}
a {
   text-decoration: none;
}

/***  Header   ***/

div#header {
   margin: 0px auto;
   margin-bottom: 20px;
}


div#logo {
   width: 100%;
   max-width: 325px;
   margin: auto;
   float: left;
}

/** @media screen and (min-width: 640px) {
div#logo  {
   width: 50%;
}
}
@media screen and (min-width: 640px) {
div#logo  {
   width: 50%;
}
}**/
div#logo img {
   float: left;
   width: 100%;
}

/**div#logo img {
   width: 100%;
} **/


/***  Navigation  ***/

nav#main {
   float: left;
   display: inline;
}

 @media screen and (min-width: 460px) {
   nav#main {
   margin: auto 15%;
}
}
@media screen and (min-width: 640px) {
   nav#main {
      width: 98%;
      max-width: 550px;
      margin: auto;
}
}

@media screen and (min-width: 768px) {
   nav#main {
      margin-left: 10%;
}
}
@media screen and (min-width: 1024px) {
   nav#main {
      margin-left: 25%;
      margin-top: 0px;
   
}  
}

@media screen and (min-width: 480px) {
   a.nav-home {
}
}
nav#main ul {
   /**float: left;**/
   margin: 20px 3%;
}
/** @media screen and (min-width: 768px) {
nav#main ul {
   float: left;
   margin: 20px 5%;
   width: 70%
}
}**/
nav#main ul li{
   display: inline;
   margin: 15px;
}

/** @media screen and (min-width: 480px) {
   nav#main ul li{
      display: inline;
      margin: 30px;
}
} **/

a.nav-home, a.nav-about, 
a.nav-work, a.nav-contact {
    width: 23%;
    max-width: 75px;     
    float: left;
    padding: 30px 35px 7px 15px; 
    margin: 2px 2px;
    border-radius: 18px;
   /** -webkit-box-shadow: inset 6px -7px 7px -9px #000; 
    -moz-box-shadow: inset 6px -7px 7px -9px #000; 
    box-shadow: inset 3px -6px 7px -8px #000; **/
}

@media screen and (min-width: 480px) {
   a.nav-home, a.nav-about, 
   a.nav-work, a.nav-contact {
   
}
}

nav#main a {
   font-size: .9em;
    color: #E5E5E5; 
   font-weight: bold;
}

a.nav-home {
    /** background-color: #434157; **/
   border-bottom-left-radius: 8px;
   background:  #7AA496;
   
}
a.nav-about {
   border-bottom-left-radius: 8px;
   background-color: #8A7BA3;

}
a.nav-work {
   border-bottom-left-radius: 8px;
   background-color: #7B82A3;

}
a.nav-contact {
   border-bottom-right-radius: 8px;
   background-color: #A39C7B;  /**#C5D6A0**/

}



/***  Big Typography ***/

div#home-words, div#words {
   clear: both;
   display: block;
   width: 100%;
   margin: 13px auto;
   padding-top: 20px;
}

#home-words h1 {
   padding: 10px 0px;
   color: #8A7BA3;
}
div#home-words h1, div#words h1 {
   margin: 0 auto;
   text-align: center;
   font-size: 2.4em;
}

@media screen and (min-width: 480px) {
   div#home-words h1, div#words h1 {
      font-size: 3em;
}
} 

@media screen and (min-width: 640px) {
   div#home-words h1, div#words h1 {
      font-size: 4em;
}
} 

@media screen and (min-width: 768px) {
   div#home-words h1, div#words h1 {
      font-size: 5em;
}
}

@media screen and (min-width: 1024px) {
   div#home-words h1, div#words h1 {
      font-size: 6em;
}
}

@media screen and (min-width: 1292px) {
   div#home-words h1, div#words h1 {
      font-size: 7em;
}
}

/*** Home Page ***/

div#main-container {
   border-left: 8px solid #7AA496;
   border-right: 5px solid #7AA496;
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
   width: 100%;
   color: #5D5E5E;
}

#wrapper {
   width: 60%;
   float: left;
}
@media screen and (min-width: 768px) {
div#main-container {
   width: 96%;
   float: left;
}
}
div.home h3 {
   color: #7AA496;
}
div#home-portfolio {
   clear: both;
   margin-top: 100px;
}

.home-philosophy {
   border-left: 5px solid #7AA496;
   background: rgba(197, 214, 215, 0.5);
   width: 100%;
}

@media screen and (min-width: 768px) {
   div#right-container{
      width: 30%;
   float: left;
   
}
}

/** 
@media screen and (min-width: 768px) {
div#home-portfolio {
   width: 60%;
}
}
div#home-portfolio img {
   width: 40%;
}

.caption {
   font-size: .9em;
   float: left;
   margin: 0px;
   display: block;
} 
**/


/*** Everything but Home Page Content ***/
div#left-container p, div#right-container h3,
div#right-container p, div#right-container h3 {
   line-height: 1.4em;
}

div#right-container p {
   font-size: .9em;
}
div.content {
   margin: auto 17px 30px 17px;
   padding: 10px;
}

div#home-about {
   float: left;
} 

div#left-container {
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
   width: 100%;
   margin-bottom: 0px;
}

@media screen and (min-width: 640px) {
div#left-container {
   width: 65%;
   float: left;
   margin-right: 3%;
}
}

div.about {
  border-left: 5px solid #8A7BA3;
   border-radius: 12px;   
}

div.about-stats {
  /** border-left: 5px solid #8A7BA3;**/
   background: rgba(201, 197, 214, 0.5);
  border-left: 5px solid #8A7BA3;
}
@media screen and (min-width: 640px) {
   div.about-stats {
   border-right: 5px solid #8A7BA3;
   border-left: none;
}
}

div.about h3 {
   color: #8A7BA3;
}

div.work {
   border-left: 8px solid #7B82A3;
}

div.selected img {
   width: 30%;
}
/**
div#right-container {
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px; 
   width: 100%;
   margin-top: 0px;
   clear: both;
}
@media screen and (min-width: 640px) {
div#right-container {
   width: 30%;
   float: left;
}
}   **/

div.work-approach {
   border-left: 8px solid #7B82A3;
   background: rgba(197, 203, 211, 0.5);
}
/** div.about-stats {
      background: #8A7BA3;
}**/


ul, li {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
}

dt, dd {
   margin: 0px;
   padding: 0px;
  /** display: inline;**/
}

dl {
   margin-bottom: 20px;
}
dd, dt {
   display: inline;
}
dt {
   font-weight: bold;
}

.details {
   display: block;
}

div.selected li{
   display: inline;
   margin: 0;
   width: 100%;
}


li.item {
   margin-bottom: 20px;
}

li.item img {
   width: 100%;
   max-width: 250px;
   float: left;
}
li.description {
   float: left;
   /** width: 100%;
   max-width: 300px;**/
}
/**
@media screen and (min-width: 480px) {
li.description {
   float: left;
   width: 
}
}
@media screen and (min-width: 480px) {
li.item img {
   width: 80%;
}
}
@media screen and (min-width: 640px) {
li.item img {
   clear: both;
   width: 70%;
}
}

@media screen and (min-width: 768px) {
li.item img{
   width: 80%;
   margin-top: 20px;
   clear: both;
}
}

li.description {
   display: inline;
}
@media screen and (min-width: 640px) {
li.description {
   float: left;
   width: 30%;
   margin-left: 25px;
}
}
@media screen and (min-width: 768px) {
li.description {
   float: left;
   width: 35%;
   margin-left: 25px;
}
}

@media screen and (min-width: 640px) {
li.item {
   width: 65%;
}
}
@media screen and (min-width: 640px) {
li.description {
   width: 44%;
}
}
**/



/***  Contact Form   ***/

fieldset {
   border: 0;
   margin: auto;
}

form {
   max-width: 725px;
}
fieldset.part-two, fieldset.part-one {
   float: left;
}
fieldset {
   max-width:  360px;
}

label { 
    float: left;
    clear: left; 
    margin: 1em 2em 0em 0em;
    font-size: .9em;
    color: #363642;
    text-transform: uppercase;
}

input {
   clear: left;
    width: 95%;
    max-width: 250px;
    height: 2.5em;
    border-radius: 5px;
    margin: .3em 3em 0em 0em;
    -webkit-box-shadow: inset 2px -7px 7px -7px #000; 
    -moz-box-shadow: inset 0px 7px 7px -7px #000; 
    box-shadow: inset 2px 5px 5px -7px #000;
}

fieldset.part-two label {
   margin-top: 2em;
}

fieldset.submit {
   margin: auto;
}
textarea {
    width: 95%;
    max-width: 250px;
    height: 100px;
    border-radius: 7px;
    margin: .3em 2em 0em 0em;
    float: left;
    border: none;
    -webkit-box-shadow: inset 1px 2px 5px -2px #000; 
    -moz-box-shadow: inset 1px 2px 5px -2px #000; 
    box-shadow: inset 1px 2px 5px -2px #000;
}

@media screen and (min-width: 370px) {
   textarea, input {
      margin-bottom: 5px;
}
}
@media screen and (min-width: 370px) {
   textarea {
      width: 90%;
}
}
   input[type=submit] {
    float: left;  
    clear: left;  
    width: 90%;
    height: 40px;
    margin-top: 1.5em;
    border-radius: 7px;
    /**-webkit-box-shadow: inset 2px -7px 7px -7px #000; 
    -moz-box-shadow: inset 0px 7px 7px -7px #000; 
    box-shadow: inset 4px 10px 5px -7px #000;**/
   background: #E0DFDD;
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #C1C0BE 100%); 
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #C1C0BE 100%);  
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #C1C0BE 100%);  
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A39C7B), color-stop(1, #E0DFDD));   
}


/***  Footer   ***/

div#footer {
   clear: both;
   padding: 10px 20px;
   border-top: 5px solid #9B9B9B;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   background-color: #DDDDDD; 
   color: #5D5E5E;
  /* -webkit-box-shadow: inset 6px -7px 7px -9px #000; 
    -moz-box-shadow: inset 6px -7px 7px -9px #000; 
    box-shadow: inset 3px 6px 15px -4px #9B9B9B;  */
   width: 90%;
   margin-top: 20px;
}


div#footer-form {
   display: inline;
}

div.or {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   margin-top: 1.5em;
}


div.or hr {
   width: 40%;
}

hr.left {
   float: left;
}

hr.right {
   float: right;
}

@media screen and (min-width: 640px) {
   div.or hr {
   display: none;
}

@media screen and (min-width: 640px) {
   div#footer-form {
      width: 60%;
}
}
@media screen and (min-width: 640px) {
   div.or {
   float: left;
   width: 39%;
   border-left: 1px solid white;
   margin: 0px;
}
}

div.footer-contact {
    width: 23%;
    max-width: 75px;     
    float: left;
    padding: 30px 35px 7px 15px; 
    margin: 2px 2px;
    border-radius: 18px;
}

div.or img {
   margin-top: 1.5em;
}


div#creative-commons {
   font-size: .7em;
   margin-top: 3em;
}






